<div class="size1of3 last-unit cap-width">
  <section class="stream">
    <header class="stream-header">
      <h3 class="h5 stream-title">Closed Issues </h3>
      <ul class="filter-bar">
        <li><a href="#" {{action 'filteryours'}}>Yours <span class="badge">{{yours.length}}</span></a></li>
        <li><a href="#" {{action 'getall'}}>All <span class="badge">{{allissues.length}}</span></a></li>
      </ul>
    </header>
    <div class="card-list">
      {{#each}}
        {{render issuecard this}}
      {{/each}}
    </div>
  </section>
</div>
