<section class="stream">
  <h3>Closed Issues</h3>
  {{#each}}
    <div class="card">
      <a class="issue-number" {{bind-attr href=html_url}} target="blank"> #{{number}} </a>
      <h6><i></i> {{title}} </h6>
      <p class="meta"><a href="#">@ianrose</a></p>
      <span class="label">{{labels.[0].name}} {{milestone.title}}</span>
      <span class="meta"><i></i>5</span>
      <span class="meta"><i></i>#999</span>
    </div>
  {{/each}}
</section>
