<style type="text/css">
 .card-issue {
  background-color: #eee;
  margin: 4px;
 }

 .card-issue-title {
  margin: 3px;
 }

 .stream-milestone{
  float: left;
  max-width: 320px;
  background-color: #ccc;
  margin-left: 12px;
 }

 .stream-title {
  margin: 6px;
 }

 .card-issue-next{
  float: right;
 }

 .card-issue-back{
  float: left;
 }
</style>

{{#if username}}
<div>Welcome {{username}}
 <button {{action 'logout'}}> Logout</button>
</div>
{{/if}}
<h4>All issues for repo <a {{bind-attr href=repourl}} target="blank">{{reponame}}</a></h4>

{{#unless reposet}}
 {{input type="text" value=reponame placeholder="Enter Github repo" size="40"}} 
  <button {{action 'save'}}>Save</button>
  <span> (ie. bradoyler/gitflow) </span> <br>
{{else}}
  <h3> Repo: {{reponame}} 
       <button {{action 'resetrepo'}}>Change</button>
  </h3>
{{/unless}}

{{#unless this.content}}

  <h2>Login</h2>
   {{input type="text" value=username placeholder="Github username\email" size="40"}} <br>
   {{input type="password" value=password size="40"}}<br>
   <button {{action 'login'}}>Login</button>
{{else}}
  
<div class="stream-milestone">
  <h4 class="stream-title">Open Issues</h4>
  {{#each}}
    <div class="card-issue">
       <div class="card-issue-number"><a {{bind-attr href=html_url}} target="blank"> #{{number}} </a> </div> 
        <h5 class="card-issue-title"> {{title}} </h5>
        <span>[{{labels.[0].name}} {{milestone.title}}]</span>
    </div>
  {{/each}}
   <div class="stream-new-card"><a href="#" target="blank">New [+]</a></div>
</div>

 {{render pulls}}

  {{render closedissues}}

{{/unless}}