{{#if username}}
<div>Welcome {{username}}
 <button {{action 'logout'}}> Logout</button>
</div>
{{/if}}
<h4>All issues for repo <a {{bind-attr href=repourl}} target="blank">{{reponame}}</a></h4>

{{#unless reposet}}
 {{input type="text" value=reponame placeholder="Enter Github repo" size="40"}} 
  <button {{action 'save'}}>Save</button>
  <span> (ie. bradoyler/gitflow) </span> <br>
{{else}}
  <h3> Repo: {{reponame}} 
       <button {{action 'resetrepo'}}>Change</button>
  </h3>
{{/unless}}

{{#unless this.content}}

  <h2>Login</h2>
   {{input type="text" value=username placeholder="Github username\email" size="40"}}
   {{input type="password" value=password placeholder="Password" size="40"}}
   <button {{action 'login'}}>Login</button>
{{else}}
  
<section>
  <h3>Open Issues</h3>
  {{#each}}
<<<<<<< HEAD
    <div class="card">
        <a class="issue-number" {{bind-attr href=html_url}} target="blank"> #{{number}} </a>
        updated {{format-date updated_at}}
        <h6><i></i> {{title}} </h6>
        <p class="meta"><a href="#">@ianrose</a></p>
        <span class="label">{{labels.[0].name}} {{milestone.title}}</span>
        <span class="meta"><i></i>5</span>
        <span class="meta"><i></i>#999</span>
    </div>
  {{/each}}
   <div><a href="#" target="blank">New [+]</a></div>
</section>

 {{render pulls}}

  {{render closedissues}}

{{/unless}}