{{#if username}}
<div>Welcome {{username}}
 <button {{action 'logout'}}> Logout</button>
</div>
{{/if}}

{{#if reposet}}
  <h4>
    Dashboard for <a {{bind-attr href=repourl}} target="blank">{{reponame}}</a>
     {{#link-to 'settings' bind-attr class='button'}}Change{{/link-to}}
  </h4>
{{else}}
  {{#link-to 'settings' bind-attr class='button'}}Set Repo{{/link-to}}
  <button class="button">Set Repo</button>
{{/if}}

{{#unless this.content}}
<h2>
  {{#link-to 'login' bind-attr class='button'}}Login{{/link-to}}
</h2>

{{else}}
  
<section>
  <h3>Open Issues</h3>
  {{#each}}
    <div class="card">
        <a class="issue-number" {{bind-attr href=html_url}} target="blank"> #{{number}} </a>
        <time class="meta">updated {{format-date updated_at}}</time>
        <h6><i></i> {{title}} </h6>
        <p class="meta"><a href="#">@ianrose</a></p>
        <span class="label">{{labels.[0].name}} {{milestone.title}}</span>
        <span class="meta"><i></i>5</span>
        <span class="meta"><i></i>#999</span>
    </div>
  {{/each}}
   <div><a href="#" target="blank">New [+]</a></div>
</section>

 {{render pulls}}

  {{render closedissues}}

{{/unless}}