{{#if username}}
<div>Welcome {{username}}
 <button {{action 'logout'}}> Logout</button>
</div>
{{/if}}

{{#if reponame}}
<h4>
  Dashboard for <a {{bind-attr href=repourl}} target="blank">{{reponame}}</a>
  {{#link-to 'settings' class='button'}}Change{{/link-to}}
  <button {{action 'refresh'}}> Refresh</button>
</h4>
{{else}}
{{#link-to 'settings' class='button'}}Set Repo{{/link-to}}
<button class="button">Set Repo</button>
{{/if}}

{{#unless this.content}}
<h2>
  {{#link-to 'login' class='button'}}Login{{/link-to}}
</h2>

{{else}}

<section>
  <h3>Open Issues</h3>
  {{#each}}
  {{render issuecard this}}
  {{/each}}
  <div><a href="#" target="blank">New [+]</a></div>
</section>

{{render pulls}}
{{render closedissues}}

{{/unless}}