<div class="size1of3 unit cap-width">
<section class="stream">
  <header class="stream-header">
    <h3 class="h5">Open Issues </h3>
    <a class="button" href="#" {{action 'filteryours'}}>Yours {{yours.length}}</a>
    <a class="button" href="#" {{action 'getall'}}>All {{allissues.length}}</a>
  </header>
  <div class="card-list">
    {{#each}}
      {{render issuecard this}}
    {{/each}}
  </div>
</section>
</div>